body { margin: 0; height: 100%; background-image: url('http://imgview.info/download/20150521/skyscraper-background-2560x1600.jpg'); background-size: cover; background-repeat: no-repeat; }
div.content { min-height: 100%; margin-bottom: -100px; }
div.content:after { display: block; content: ""; }
div.content:after, footer { height: 100px; }
footer { background-color: black; color: white; }
footer > p { position: absolute; left: 50px; }
div.modal-login { display: none; background-color: white; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -300px; border: 1px solid black; border-radius: 15px; box-shadow: 2px 2px 2px grey; width: 600px; height: 400px; text-align: center; }
input.input { width: 60%; margin: 0 auto; }
form.centered { position: absolute; top: 50%; left: 50%; width: 500px; height: 300px; margin-top: -150px; margin-left: -250px; }
div.row { text-align: center; margin-bottom: 20px; }
button a { color: white; text-decoration: none; }
button a:hover { color: white; text-decoration: none; }
div.register { background-color: white; width: 50%; border-radius: 15px; margin: 0 auto; text-align: center; padding: 20px; margin-top: 20px; }
